<a href="https://colab.research.google.com/github/katherine-tech/Data-Science/blob/master/03_12_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
movies=pd.read_csv('http://bit.ly/imdbratings')

In [ ]:
movies.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [ ]:
long_movies=movies.duration >=200

In [ ]:
movies[long_movies]

     star_rating  ...                                        actors_list
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7            8.9  ...  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17           8.7  ...  [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78           8.4  ...  [u'Robert De Niro', u'James Woods', u'Elizabet...
85           8.4  ...  [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142          8.3  ...  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157          8.2  ...  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204          8.1  ...  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445          7.9  ...  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476          7.8  ...  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630          7.7  ...  [u'Denzel Washington', u'Angela Bassett', u'De...
767          7.6  ...  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...

[12 rows x 6 columns]

In [ ]:
movies[movies.duration >=200]

     star_rating  ...                                        actors_list
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7            8.9  ...  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17           8.7  ...  [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78           8.4  ...  [u'Robert De Niro', u'James Woods', u'Elizabet...
85           8.4  ...  [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142          8.3  ...  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157          8.2  ...  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204          8.1  ...  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445          7.9  ...  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476          7.8  ...  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630          7.7  ...  [u'Denzel Washington', u'Angela Bassett', u'De...
767          7.6  ...  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...

[12 rows x 6 columns]

In [ ]:
movies.loc[movies.duration >=200,'genre']

2          Crime
7      Adventure
17         Drama
78         Crime
85     Adventure
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object