<a href="https://colab.research.google.com/github/katherine-tech/Data-Science/blob/master/03_10_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.read_table('http://bit.ly/uforeports',sep=',')

                       City Colors Reported  ... State              Time
0                    Ithaca             NaN  ...    NY    6/1/1930 22:00
1               Willingboro             NaN  ...    NJ   6/30/1930 20:00
2                   Holyoke             NaN  ...    CO   2/15/1931 14:00
3                   Abilene             NaN  ...    KS    6/1/1931 13:00
4      New York Worlds Fair             NaN  ...    NY   4/18/1933 19:00
...                     ...             ...  ...   ...               ...
18236            Grant Park             NaN  ...    IL  12/31/2000 23:00
18237           Spirit Lake             NaN  ...    IA  12/31/2000 23:00
18238           Eagle River             NaN  ...    WI  12/31/2000 23:45
18239           Eagle River             RED  ...    WI  12/31/2000 23:45
18240                  Ybor             NaN  ...    FL  12/31/2000 23:59

[18241 rows x 5 columns]

In [ ]:
ufo=pd.read_table('http://bit.ly/uforeports',sep=',')

In [ ]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [ ]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [ ]:
ufo.rename(columns={'Colors Reported':'Colors_Reported'},inplace=True)

In [ ]:
ufo.head()

                   City Colors_Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [ ]:
ufo.rename(columns={'Shape Reported':'Shape_Reported'},inplace=True)

In [ ]:
ufo.head()

                   City Colors_Reported Shape_Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [ ]:
ufo.columns

Index(['City', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [ ]:
ufo.drop('Colors_Reported', axis=1, inplace=True)

KeyError: ignored

In [ ]:
ufo.drop(['city','State'])