<a href="https://colab.research.google.com/github/katherine-tech/Data-Science/blob/master/3_11_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [ ]:
movies.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [ ]:
movies.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [ ]:
movies.title.sort_values().head()

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
Name: title, dtype: object

In [ ]:
movies.title.sort_values(ascending=False).head()

864               [Rec]
526                Zulu
615          Zombieland
677              Zodiac
955    Zero Dark Thirty
Name: title, dtype: object

In [ ]:
movies.sort_values('title').head()

     star_rating  ...                                        actors_list
542          7.8  ...  [u'Zooey Deschanel', u'Joseph Gordon-Levitt', ...
5            8.9  ...  [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
201          8.1  ...  [u'Chiwetel Ejiofor', u'Michael Kenneth Willia...
698          7.6  ...  [u'James Franco', u'Amber Tamblyn', u'Kate Mara']
110          8.3  ...  [u'Keir Dullea', u'Gary Lockwood', u'William S...

[5 rows x 6 columns]

In [ ]:
movies.sort_values('title',ascending=False).head()

     star_rating  ...                                        actors_list
864          7.5  ...  [u'Manuela Velasco', u'Ferran Terraza', u'Jorg...
526          7.8  ...  [u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac...
615          7.7  ...  [u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha...
677          7.7  ...  [u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M...
955          7.4  ...  [u'Jessica Chastain', u'Joel Edgerton', u'Chri...

[5 rows x 6 columns]

In [ ]:
movies.sort_values(['content_rating','duration']).head()

     star_rating  ...                                        actors_list
713          7.6  ...  [u'Phil Harris', u'Sebastian Cabot', u'Louis P...
513          7.8  ...  [u'Kevin McCarthy', u'Dana Wynter', u'Larry Ga...
272          8.1  ...  [u'Sterling Hayden', u'Coleen Gray', u'Vince E...
703          7.6  ...  [u'Bela Lugosi', u'Helen Chandler', u'David Ma...
612          7.7  ...  [u'John Lennon', u'Paul McCartney', u'George H...

[5 rows x 6 columns]