<a href="https://colab.research.google.com/github/katherine-tech/Data-Science/blob/master/classwork12_03_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
nba= pd.read_csv('https://raw.githubusercontent.com/nschettini/datasets/master/nba.csv')

In [ ]:
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba[nba.Salary >=233000]

              Name            Team  Number  ... Weight        College      Salary
0    Avery Bradley  Boston Celtics     0.0  ...  180.0          Texas   7730337.0
1      Jae Crowder  Boston Celtics    99.0  ...  235.0      Marquette   6796117.0
3      R.J. Hunter  Boston Celtics    28.0  ...  185.0  Georgia State   1148640.0
4    Jonas Jerebko  Boston Celtics     8.0  ...  231.0            NaN   5000000.0
5     Amir Johnson  Boston Celtics    90.0  ...  240.0            NaN  12000000.0
..             ...             ...     ...  ...    ...            ...         ...
452     Trey Lyles       Utah Jazz    41.0  ...  234.0       Kentucky   2239800.0
453   Shelvin Mack       Utah Jazz     8.0  ...  203.0         Butler   2433333.0
454      Raul Neto       Utah Jazz    25.0  ...  179.0            NaN    900000.0
455   Tibor Pleiss       Utah Jazz    21.0  ...  256.0            NaN   2900000.0
456    Jeff Withey       Utah Jazz    24.0  ...  231.0         Kansas    947276.0

[429 rows x 9 columns]

In [ ]:
nba['Salary']

0      7730337.0
1      6796117.0
2            NaN
3      1148640.0
4      5000000.0
         ...
453    2433333.0
454     900000.0
455    2900000.0
456     947276.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [ ]:
nba[nba.Salary>=233000]

              Name            Team  Number  ... Weight        College      Salary
0    Avery Bradley  Boston Celtics     0.0  ...  180.0          Texas   7730337.0
1      Jae Crowder  Boston Celtics    99.0  ...  235.0      Marquette   6796117.0
3      R.J. Hunter  Boston Celtics    28.0  ...  185.0  Georgia State   1148640.0
4    Jonas Jerebko  Boston Celtics     8.0  ...  231.0            NaN   5000000.0
5     Amir Johnson  Boston Celtics    90.0  ...  240.0            NaN  12000000.0
..             ...             ...     ...  ...    ...            ...         ...
452     Trey Lyles       Utah Jazz    41.0  ...  234.0       Kentucky   2239800.0
453   Shelvin Mack       Utah Jazz     8.0  ...  203.0         Butler   2433333.0
454      Raul Neto       Utah Jazz    25.0  ...  179.0            NaN    900000.0
455   Tibor Pleiss       Utah Jazz    21.0  ...  256.0            NaN   2900000.0
456    Jeff Withey       Utah Jazz    24.0  ...  231.0         Kansas    947276.0

[429 rows x 9 columns]

In [ ]:
nba[nba.Salary>=233000].Salary.head()

0     7730337.0
1     6796117.0
3     1148640.0
4     5000000.0
5    12000000.0
Name: Salary, dtype: float64